<!doctype html>
<html>
<head>
  <title>Merry Christmas 2015!</title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="author" content="Euan Goddard" />
  <meta name="description" content="Christmas card for 2015" />

  <link rel="canonical" href="https://xmas-2015.euans.space" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-app="xmas-2015">
  <header ng-controller="AuthController as auth_controller">
    <div class="container">
      <div class="grid-12">
        <h1>Introduce yourself</h1>
      </div>
    </div>
    <div class="container">
      <div class="grid-5">
        <h2>Use a social account</h2>
        <ul>
          <li>
            <button ng-click="auth_controller.login_with_google()">
              <i class="fa fa-google"></i>
              Login with Google
            </button>
          </li>
          <li>
            <button ng-click="auth_controller.login_with_twitter()">
              <i class="fa fa-twitter"></i>
              Login with Twitter
            </button>
          </li>
          <li>
            <button ng-click="auth_controller.login_with_facebook()">
              <i class="fa fa-facebook"></i>
              Login with Facebook
            </button>
          </li>
        </ul>
      </div>
      <div class="grid-2">
        <h1>or</h1>
      </div>
      <div class="grid-5">
        <h2>Enter by hand</h2>
          <form ng-submit="auth_controller.set_custom_data()">
            <input type="text" ng-model="custom_person.name" required placeholder="your name">
            <input type="file" accept="image/*" capture="camera" ng-change="this.set_custom_image($event)"/>
            <button type="submit">Go</button>
          </form>
      </div>
    </div>
    <button ng-click="auth_controller.login_with_facebook()">
      <i class="fa fa-user"></i>
      Login with email
    </button>

    <p ng-if="person.name">
      {{ person.name }}
      {{ person.picture_url }}
    </p>

    <p ng-if="error">Error: <strong>{{ error }}</strong></p>

  </header>

  <footer ng-controller="AvatarController as avatar_controller">
    <input type="text" ng-model="name" />
    <img ng-if="avatar.url" ng-src="{{ avatar.url }}" width="600" height="600" alt="{{ name }}" />
  </footer>
  
  <!-- <div id="container"></div> -->


  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>